@*@model IEnumerable<puma.Models.test>*@
@*@{
    var galList = ViewData["Locations"] as List<test>;
    var d = galList.ToArray();  
}@*@
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWKtZc2XJqIacL0YK2mGOeDj0XvmO9uiw&callback=initMap&v=weekly"
        defer></script>
<script>
    var markers = @Html.Raw(Json.Serialize(ViewData["Locations"]));
</script>
<script>
  
    function initMap() {
      


        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: { lat: 24.8642524, lng: 67.0030718 }
        });


        for (var i = 0; i < markers.length; i++) {
            var marker = new google.maps.Marker({
                position: markers[i],
                map: map,
                title: markers[i].title,
                
            });
        }
    }

    window.initMap = initMap;

</script>