@model puma.Models.stationMaster

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>stationMaster</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StationId" />
            <div class="form-group">
                <label asp-for="navCode" class="control-label"></label>
                <input asp-for="navCode" class="form-control" />
                <span asp-validation-for="navCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regionName" class="control-label"></label>
                <input asp-for="regionName" class="form-control" />
                <span asp-validation-for="regionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="provinceName" class="control-label"></label>
                <input asp-for="provinceName" class="form-control" />
                <span asp-validation-for="provinceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="districtName" class="control-label"></label>
                <input asp-for="districtName" class="form-control" />
                <span asp-validation-for="districtName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longtitude" class="control-label"></label>
                <input asp-for="longtitude" class="form-control" />
                <span asp-validation-for="longtitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

